<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sjustmytestsql.Properties.Settings.qds167524424_dbConnectionString"
            connectionString="Data Source=qds167524424.my3w.com;Initial Catalog=qds167524424_db;Persist Security Info=True;User ID=qds167524424;Password=sqs20160127"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>